@import "../sass/components/navigation";
@import "../sass/generic/normalize";
@import "../sass/utilities/utilities";

.body-wrapper {
  display: grid;
  font-family: Helvetica, sans-serif;
  grid: auto 1fr auto;
  min-height: 100dvh;
  min-height: 100vh;
  position: relative;
}

.main-header {
  display: grid;
  grid: auto 1fr auto;
  isolation: isolate;
}

.main-header:nth-child(1) > * {
  grid-row: 1 /-1;
  grid-column: 1 /-1;
}

section.hero {
  display: grid;
  max-height: 800px;
  position: relative;

  .hero--media {
    width: inherit;
    max-height: inherit;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero--media:after {
    content: "";
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    position: absolute;
  }

  @media (max-width: 600px) {
    .hero--contentContainer_btnContainer {
      display: none !important;
    }
  }

  .hero--contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .display-1 {
      width: 13.5ch;
      color: var(--primary);
      font-weight: bold;
      font-size: clamp(2.1525rem, 10vw, 5.25rem);
      line-height: 1;
      margin: 0;
    }

    .subtitle {
      max-width: 46ch;
      font-size: clamp(0.8rem, 3vw, 1rem);
      color: var(--text-secondary);
      line-height: 1.5;
      letter-spacing: 1px;
    }

    .hero--contentContainer_btnContainer {
      display: inline-flex;
      gap: 1rem;
    }
  }
}

section.trust {
  background: #eee;
  padding: 1rem;
  overflow: hidden;

  @media (max-width: 1200px) {
    .trust--content__container {
      align-items: start !important;
      display: flex !important;
      flex-direction: column !important;
      padding-inline: 0 !important;

      .trust--content__containerTray {
        width: 100%;
        animation: marquee 10s linear infinite;
      }

      @keyframes marquee {
        100% {
          -webkit-transform: translateX(100%, 0);
          transform: translateX(100%, 0);
        }

        0% {
          -webkit-transform: translateX(-100%, 0);
          transform: translateX(-100%, 0);
        }
      }
    }
  }

  .trust--content__container {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;

    label {
      color: rgba($color: #000000, $alpha: 0.6);
      font-weight: bold;
    }

    .trust--content__containerTray {
      width: 100%;
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      label {
        opacity: 0.6;
        font-weight: bold;
      }

      .trust--content__item {
        display: flex;
        place-content: center;
        padding-inline: 1rem;
      }

      .trust--content__item img {
        width: 125px;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: luminosity;
      }

      .trust--content__item img:hover {
        mix-blend-mode: normal;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1200px) {
  section.projects {
    display: grid;
    overflow: hidden !important;

    .content--projects {
      display: grid !important;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .content--projects__items {
        width: inherit !important;
      }
    }
  }
}

section.projects {
  overflow: hidden;
  margin-block: 2rem !important;

  .content--headerTitle {
    margin-block: 1rem;

    p {
      margin-block: 0.3rem;
    }
  }

  .content--projects {
    display: inline-flex;
    gap: 1rem;
    overflow: auto;

    .content--projects__items {
      width: 300px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .content--projects__itemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        padding: 1rem;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;

        .content--headerTitle {
          margin: 0;
        }

        p {
          color: var(--text-secondary);
        }

        button {
          border: none;
          background-color: rgba($color: #ffffff, $alpha: 0.2);
          color: var(--text-secondary);
          cursor: pointer;
          letter-spacing: 1px;
          padding: 12px 15px;
        }

        button:hover {
          background-color: rgba($color: #ffffff, $alpha: 0.3);
          font-weight: bold;
        }
      }
    }

    .content--projects__items:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

section.pointers {
  display: flex;
  flex-wrap: wrap;
  margin-block: 2rem !important;

  .pointers--content {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));

    .pointers--content__text {
      min-width: 50%;

      .pointer--title {
        font-size: clamp(1rem, 3vw, 1.8rem);
        margin-top: 0;
        margin-bottom: 0.6rem;
      }

      .pointers--content__list {
        display: grid;
        gap: 0.5rem;

        .pointer--content__listItem {
          display: grid;

          .listTitle {
            align-items: center;
            display: flex;
            gap: 0.5rem;
            padding-block: 0.4rem;
          }

          .listTitle::before {
            content: url("/assets/img/check_circle_icon.svg");
            width: 20px;
            height: 20px;
            display: flex;
          }

          p {
            font-size: clamp(0.8rem, 10vw, 1rem);
            line-height: 1.2;
            margin: 0;
          }
        }
      }
    }

    .pointers--content__img {
      min-width: 50%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

section.categories {
  background-color: var(--primary);
  margin-block: 2rem;

  .categories--container {
    padding-block: 2rem;

    .categories--title {
      color: var(--text-secondary);
      font-weight: bold;
      font-size: clamp(1rem, 10vw, 2rem);
      margin-top: 0;
    }

    @media (max-width: 600px) {
      .categories--items__container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
      }
    }

    .categories--items__container {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      .categories--item {
        align-items: center;
        display: grid;
        gap: 1rem;
        justify-content: center;
        padding-block: 1rem;

        svg {
          width: 4rem;
          height: 4rem;
          border-radius: 100vmax;
          background-color: rgba(255, 255, 255, 0.1);
          display: block;
          margin: auto;
          fill: var(--text-secondary) !important;
          padding: 0.8rem;
        }

        label {
          color: var(--text-secondary);
          text-decoration: none;
          text-align: center;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.footer {
  box-shadow: 0 0 2px;
  margin-top: auto;

  .copyright {
    align-items: center;
    box-shadow: 0 0 2px;
    display: flex;
    font-weight: bold;
    font-size: clamp(0.6rem, 6vw, 0.85rem);
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    padding: 1em;
    text-align: center;
  }
}
